*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    height: 900px;
    /* border: 1px black solid; */
    padding-top: 54px;
}
.header{
width: 486px;
height: 44px;
margin: 0px auto 0px;
text-align: center;

}

.menu{
    text-decoration: none;
    margin: 0 34.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    
 
}
.menu:hover{
    color: #2785F7;
}
.menuhov{
    color: #2785F7;
}

.content{
    height: 726px;
    width: 1404px;
    margin: 32px auto 44px ;
    background: #e9eaeb;
    border-radius: 30px;
    position: relative;
    
}

.box{
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}
.box0{
    left: 23px;
    bottom: 135px;
    width: 105px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 35px 0;

}
.box1{
    top: 80px;
    left: 158px;
    width: 592px;
    height: 130px;
}
.box2{
    top: 80px;
    right: 34px;
    width: 583px;
    height: 130px;
}
.box3{
    left: 158px;
    top: 244px;
    width: 732px;
    height: 194px;
}
.box4{
    bottom: 72px;
    left: 158px;
    width: 732px;
    height: 194px;
}
.box5{
    right: 34px;
    bottom: 72px;
    width: 447px;
    height: 410px;
}
.pic{
    width: 50px;
    height: 45px;
    transition-duration: 0.2s;
}
.side{
    margin-bottom: 15px;
    position: relative;
    transition-duration: 0.2s;
    z-index: 2;
}

.side:hover .pic{
    border-radius: 20px;
    fill: white;
 
}
.side::after{
    content: "";
    display: block;
    background-color: #2785f7;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; 
  border-radius: 15px;
  transition-property: width;
  transition-duration: 0.25s;
   z-index: -1;
}
.side:hover::after{
    text-align: center;
    content: "Sales";
    color:white;
    font-size: 32px;
  width: 171px;
  padding-left:20px;
 
  
}
.selected-side .pic{
	background-color: #2785f7;
	border-radius: 10px;
    fill: white;
}

.side1:hover::after{
    content: "Project";
	}

.side2:hover::after{
    content: "Account";
	}
.side3:hover::after{
    content: "Groups";
	}
.side4:hover::after{
    content: "Cloud";
	}
.side5:hover::after{
    content: "Settings";
	}


.project{
    height: 66px;
    margin:32px 42px;
  
}
.text-top{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 160%;
}
.text-bottom{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 160%;
color: #B1B1B1;
margin-top: -8px;
}
.project2{
    height: 126px;
    margin:34px 42px;
  
}
.team{
    width: 120px;
    height: 138.26px;
    margin: 28px 49px 27.74px 42px;
    float: left;
}
.project3{
    width: 495px;
    height: 97px;
    margin-top: 34px;
    margin-left: 211px;

}
.dataimg{
    width: 120px;
height: 115.32px;
margin: 34px 285px 0 42px;

}
.project4{
width: 366px;
height: 198px;
margin-top: 24.68px;
margin-left: 42px;
}


.cube{
    width: 300px;
    height: 325px;
    background-color: white;
    border-radius: 41px;
  position: relative;
  text-decoration: none;
  /* transition-duration: 0.8s; */
}
.cubed{
    width: 292px;
    height: 278px;

  
}
.content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 30px 0px;
}

.photos{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: 51px;
    left: 98px;
}
.cube:hover{
    background-color: #2785F7;   
    
}
.cube:hover .textteambottom, .cube:hover .textteamtop{
    color: white;

}


.block1{
    position: absolute;
    width: 232px;
    height: 64px;
    right: 30px;
    bottom: 99px;
}
.block2{
    position: absolute;
    width: 215px;
    height: 44px;
    left: 39px;
    bottom: 27px;

}   
.textteamtop{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    
    
}
.textteambottom{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    transition-duration: 0.5s;

    color: #C5C5C5;
}
.photosb{
    top: 20px;
}
.block1b{
    bottom: 89px;
}
.block2b{
    bottom: 0px;
}

.lessonsblock1{
    position: absolute;
    top: 122px;
  left: 182px;
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: space-between;  
    align-items: center; 
}
.lessonsblock2{
    position: absolute;
    top: 189px;
        left: 57px;
    width: 1253px;
    height: 64px;
    /* background-color: red; */
    border-radius: 21px;
    padding: 0 90px;
    display: flex;
    justify-content: space-around;  
    align-items: center;   

}
.lessonsblock2:hover{
    background: #FFFFFF;
}
.inside{
    width: 138px;
    height: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 33px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;

    
}
.download{
    height: 35px;
    width: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.192) solid;
}
.pic2{
    height: 20px;
    width: 20px;
    
}
.download:hover{
    
    background-color: #2785F7;
}
.download:hover .pic2{
   
    fill: white;
    
}

.lessonsblock3{
    top: 274px;
}
.lessonsblock4{
    top: 359px;
}
.lessonsblock5{
    top: 444px;
}
.lessonsblock6{
    top: 529px;
}

.box21{
    top: 20px;
    left: 158px;
    width: 615px;
    height: 149px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
	background-color:white;
}

.photosac{
    width: 65px;
    height: 65px;
   top: 42px;
   position: absolute;
   left:42px;
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 65px;
text-align: center;
background-color: #F24F5E;
color:white;
display:flex;
align-items:center;
justify-content:center;

}

.cube:hover::after{
   content: url("./styles/images/vectorpaint.svg");
	font: 4px;
	width:60px;
	height:60px;
	display:flex;
	justify-content:space-around;
	align-items: center;
	background-color: white;
	border-radius:15px;
	position:absolute;
	right:-25px;
	top:-25px;
	fill: red;


}

input[type=checkbox] {
	width:25px;
	height:25px;
	border: 4px black solid;
	}

.head-account{
	position:absolute;
	left:150px;
	top:30px;
}
.text-top1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 160%;
}

.box22{
bottom:20px;
left:158px;
width:618px;
height:517px;
}

.padlock{
fill:white;
width:45px;
}
.padl{
	background-color: #2785F7;

}

.box23{

width: 588px;
height: 679px;
right: 28px;
top: 20px;
}

.passcode{
	width: 524px;
height: 63px;
background: #FEFEFE;
border: 2px solid #C0C0C0;
box-sizing: border-box;
border-radius: 21px;
position:absolute;
font-size: 18px;
padding-left: 14px;
left: 33px;
	
}
.p1{
	top:181px;
	left: 33px;
}
::placeholder{
	
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

color: #B1B1B1;
}

.text-account{
    position: absolute;
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
left: 34px;
}
.p1{
	top:181px;
}
.t1{
	top:136px;
}
.p2{
	bottom: 149px;
}

.t2{
	bottom: 234px;
}

.p3{
	bottom: 26px;
}

.t3{
	bottom: 111px;
}

.len1{
    left: 47px;
}
.len2{
    left: 306px;
}

.t4{
    top:129px;
}
.t5{
   top:260px;
}
.t6{
    bottom:229px;
}
.t7{
    bottom:106px;
}

.cocode{
    position: absolute;
   
    padding-left: 14px;
    background: #FEFEFE;
    border: 2px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 21px;  
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
}

.c1{
    width: 494px;
    height: 64px;
    left: 47px;
    top: 174px;
}
.c2{
    width: 494px;
    height: 100px;
    left: 47px;
    bottom: 274px;
    padding-bottom: 2.4em;
}

.s3{
    width: 237px;
    height: 63px;
}

.c3{
    left: 47px;
    bottom: 144px;
}
.c4{
    right: 47px;
    bottom: 144px;
}

.c5{
    left: 47px;
    bottom: 21px;

}
.c6{
    right: 47px;
    bottom: 21px;

}
.cocode:focus, .passcode:focus{
    border: 2px solid #2785F7;
    box-sizing: border-box;
    border-radius: 21px;
    outline: none;

}